<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About </title>
</head>
<body>
    <!-- block of account in the corner -->
    <div style='position: absolute; top:15px; right: 20px; font-weight: bold;'>
        Account: {{ name }}
    </div>

    <main>
        <h1>About this project</h1>
        <p>i want to create something amazing!</p>

        <h2>Our Mission</h2>
        <p>To provide a platform for me studying</p>

        <nav style="margin-top: 30px;">
            <a href="/">Back to Home</a>
        </nav>
    </main>
</body>
</html>