<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About </title>
    <!--styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{url_for('home') }}">Home</a>
        <a href="{{url_for('about') }}">About</a>
        <a href="{{url_for('contact') }}">Contact</a>

        {% if username %}
            <span>Hello, {{ username }}!</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
    <!-- block of account in the corner -->
    <div style='position: absolute; top:15px; right: 20px; font-weight: bold;'>
        Account: {{ username }}
    </div>

    <main>
        <h1>About this project</h1>
        <p>i want to create something amazing!</p>

        <h2>Our Mission</h2>
        <p>To provide a platform for me studying</p>

        <nav style="margin-top: 30px;">
            <a href="/">Back to Home</a>
        </nav>
    </main>
</body>
</html>