<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
</head>
<body>
    <!-- block of account in the corner -->
    <div style='position: absolute; top:15px; right: 20px; font-weight: bold;'>
        Account: {{ name }}
    </div>
    <header>
        <h1>Hello, {{ name }}!</h1>
    </header>

    <main>
        <selection>
            <h2>Welcome to the Home Page</h2>
                <!-- form for sending data  -->
            <form method="POST" action="">
                <label for="username">Username:</label>
                <input type="text" id="username" name="user_input">
                <button type="submit">Submit</button>
            </form>
        </selection>

        <nav style="margin-top: 30px;">
            <a href="/about">About</a>
        </nav>
    </main>
</body>
</html>