<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
    <!--styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{url_for('home') }}">Home</a>
        <a href="{{url_for('about') }}">About</a>
        <a href="{{url_for('contact') }}">Contact</a>
        <a href="{{url_for('lists') }}">Lists</a>

        {% if username %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
    <!-- block of account in the corner -->
    <div style='position: absolute; top:15px; right: 20px; font-weight: bold;'>
        Account: {{ username }}
    </div>
    <!-- List items will be displayed here -->
    <ul>
        {% for item in items %}
            <li>{{ item.text }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ url_for('add_item', list_id=group.id) }}">
        <input type="text" name="text" placeholder="Enter new item" required>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>
