<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
    <!--styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src='https://unpkg.com/htmx.org@1.9.10'></script>
</head>
<body>
    <nav>
        <a href="{{url_for('home') }}">Home</a>
        <a href="{{url_for('about') }}">About</a>
        <a href="{{url_for('contact') }}">Contact</a>
        <a href="{{url_for('lists') }}">Lists</a>

        {% if username %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
    <!-- block of account in the corner -->
    <div style='position: absolute; top:15px; right: 20px; font-weight: bold;'>
        Account: {{ username }}
    </div>
    <!-- List items will be displayed here -->
    

    <!--add item form-->

    <form onsubmit="addItem(event, {{ group.id }})">
        <input type="text" id="item-input" name="text" required placeholder="Enter item">
        <button type="submit">Add Item</button>
    </form>

    <ul id="items-text-{{ group.id }}">
        {% for item in items %}
        <li>{{ item.text }}</li>
        {% endfor %}
    </ul>

    <script>
        async function addItem(event, listId) {
            event.preventDefault(); // Останавливаем перезагрузку страницы
            const input = document.getElementById('item-input');
            const text = input.value;

            const response = await fetch('/add_item/' + listId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'HX-Request': 'true' // Чтобы Python понял, что это асинхронный запрос
                },
                body: 'text=' + encodeURIComponent(text)
            });

            if (response.ok) {
                const html = await response.text();
                // Добавляем пришедший <li> в конец списка
                document.getElementById('items-text-' + listId).insertAdjacentHTML('beforeend', html);
                input.value = ''; // Очищаем поле ввода
            }
        }
    </script>

</body>
</html>
